
<!DOCTYPE html>
<html>

<head>
    <title>User Info</title>
    <!--Made with love by Mutiullah Samim -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/info.css') }}">
    <!--Custom styles-->
</head>
<body>
    <nav class="navbar navbar-dark navbar-fixed-top transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="/userinfo/{{name}}"><i class="fas fa-chevron-circle-left"></i></a>
        </div>
      </nav>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
					<h3>
						{% with messages = get_flashed_messages() %}
						  {% if messages %}
							<ul class=flashes>
							{% for message in messages %}
							  <li>{{ message }}</li>
							{% endfor %}
							</ul>
						  {% endif %}
						{% endwith %}
						</h3>
                </div>
                <div class="card-body">
					<form method="post" action="/userinfo/upload/{{name}}" enctype="multipart/form-data">
						<dl>
							<p>
								<input type="file" name="file" autocomplete="off" required>
							</p>
						</dl>
						<p>
							<input type="submit" value="Submit">
						</p>
					</form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>

                        <p class="form-control">{{name}}</p>
                    </div>
                </div>
                
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Powered By <a href="https://github.com/Karibura-Cyber"
                            style="text-decoration: none;">&nbsp;Karibura-Cyber</a>
                    </div>
                    <!--<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>-->
                </div>
            </div>
        </div>
    </div>
</body>

</html>