<!DOCTYPE html>
<html>

<head>
    <title>User Info</title>
    <!--Made with love by Mutiullah Samim -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/info.css') }}">
    <!--Custom styles-->
</head>
<style>
 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50px);
    color: white;
}
.acontainer {
  position: relative;

}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.acontainer:hover .image {
  opacity: 0.3;
}

.acontainer:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 50px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
</style>
<body>
    <nav class="navbar navbar-dark navbar-fixed-top transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="/signin"><i class="fas fa-chevron-circle-left"></i></a>
        </div>
      </nav>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <center>
                        <div class="acontainer">
                        <img src="{{url_for('static', filename=img)}}" width="200" height="200" style="outline: #2b2b2b solid 5px;" class="cropimg image">
                        <a href="upload/{{name}}" style="text-decoration: none; color: white">
                        <div class="middle">
                            <div class="text"><i class="far fa-plus-square"></i></div>
                        </div>
                      </a></center><br><hr>
                    <h3 style="text-align: center;">{{name}} Profile Info</h3>
                </div>
                <div class="card-body">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>

                        <p class="form-control">{{name}}</p>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-star"></i></span>
                        </div>
                        <p class="form-control">{{score}}</p>
                    </div><br>
                    <p>If you want to Edit your data please contact administrator</p>
                </div>
                
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Powered By <a href="https://github.com/Karibura-Cyber"
                            style="text-decoration: none;">&nbsp;Karibura-Cyber</a>
                    </div>
                    <!--<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>-->
                </div>
            </div>
        </div>
    </div>
</body>

</html>